*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'RocknRoll One', sans-serif;
  color: rgba(255, 255, 255, .9);
}

.title {
  font-size: 4em;
  margin-bottom: 10px;
  text-shadow: 1px 2px 8px #000000;
}

.colors {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

input {
  margin: 0 5px;
}

.subtitle {
  /* text-shadow: 0 0 8px #000000;
   */
   font-weight: 200;
   margin:20px auto;
}

.code {
  margin:0 10px;
  background:rgba(255, 255, 255, .4);
  padding: 20px 50px;
  color: #000;
  border: 2px solid #000;
  margin-bottom: 20px;
}

.btn {
  background-color: teal;
  color: #fff;
  border: 1px solid #000;
  padding: 8px 14px;
  border-radius: 4px;
}


@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5em;
  }

  .code {
    padding: 20px 50px;
    flex-wrap: wrap;
  }
}